<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Retrived Information</h1>
    <p>Name: <span th:text ="${returnedPersonInfo.getName}"></span></p>
    <p>Email: <span th:text ="${returnedPersonInfo.getEmail}"></span></p>
    <p>Phone Number: <span th:text ="${returnedPersonInfo.getPhoneNumber}"></span></p>
</body>
</html>